$Fuente1: "Arial", sans-serif;
$Fuente2: "Helvetica", sans-serif;
$color1: #ffffff;
$color2: #1f3f68;
$color3: #356ead;
$color4: rgba(0, 0, 0, 0.6);
$color5: #316099;
$color6: #5a98d0;
$color7: #f4f4f4;

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.container {
  padding-top: 50px;
}
